<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/app/scripts/Stylesheet1.css">
    <script src="static/app/scripts/profile.js"></script>
    <title>Super Profile Lister</title>
</head>
<body>
    <h1>Super Profile Lister <span id="beta">(beta)</span></h1>
    <div id="display">
    </div>
    <div id="pagination-buttons-div">
        <p id="page-number"></p>
        <button class="pagination-button" id="previous-button"> < </button>
        <button class="pagination-button" id="next-button"> > </button>
    </div>
    <div id="footnote">
        <p id="footnote-header"></p>
        <p id="footnote-text"></p>
    </div>
</body>
</html>
